<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer--left-section">
		<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
	</div>
	<div class="mdl-mini-footer--right-section">
		Proudly published with <a href="https://ghost.org">Ghost</a>
	</div>
</footer>